*{
    color: white;
    background-color: black;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(189, 188, 188);
}

nav{
    height:10vh;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border-bottom: solid 1px grey; */
}
nav img{
    height: 8vh;
    width:8vh;
}
.title{
    margin: auto;
    font-size: 1.8rem;
    font-family: "Gruppo", sans-serif;
}
.inputbox{
    width: 25vw;
    border-radius: 8px;
    background-color: whitesmoke;
    color:grey;
    z-index: 1;
    position: absolute;
    left: 70vw;
    display: none;
    transition: all 1s ease-in-out 1s;
}
#search{
    padding-left: 1vw;
}
.imagebox{
    width:100vw;
    height:80vh;
    display: flex;
    justify-content: center;
}
.imagebox>img{
    width: 75vw;
    height: 10vw;
    /* height: 20vh; */
    margin-top: 30vh;
}
.expand_more{
    height:15vh;
}
#skipScroll{
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
}

.bookCard{
    width: 60vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.books{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}


.semesters{
    padding-left: 5%;
    padding-right: 5%;
}
.col{
    display: flex;

}
.oddSem{
    justify-content: start;
}.evenSem {
    justify-content: end;
}
.semCard{
    width: 48vw;
    height: 60vh;
    /* border: solid 3px grey; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col a{
    text-decoration: none;
    color: white;
}
.genCard img{
    border-radius: 10px;
}
.genCard:hover > img{
    transition: .1s ease;
    opacity: 0.7;
}
.genCard:hover{
    background-color: rgba(225, 224, 224, 0.979);
    /* background-image: url("add_box_24dp_FILL0_wght600_GRAD0_opsz24.png"); */
    
}

.heading1{
    font-size: 4rem;

    font-family: "Gruppo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.footer{
    width: 100%;
    height: 8vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid gray 1px;

    /* box-shadow: inset 5px 5px 15px; */
}
.footer>div:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
}


@media only screen and (max-width: 375px){
    
    .title{
        font-size: 1rem;
        padding-left: 3vw;;
        padding-right: 3vw;
    }

    #skipScroll{
        padding-bottom: 6vh;
    }
    .bookCard{
        width: 70vw;
        height: 15vh;
    }
    .books{
        margin-bottom: 2vh;
    }

    .semCard{
        height: 30vh;
    }
    .heading1{
        font-size: 2rem;
    }
    .expand_more{
        height: 8vh;
    }
}
@media only screen and (min-width: 375px) and (max-width: 576px){
    .title{
        font-size: 1.3rem;
        padding-left: 3vw;;
        padding-right: 3vw;
    }

    #skipScroll{
        padding-bottom: 6vh;
    }
    .bookCard{
        width: 70vw;
        height: 20vh;
    }
    .books{
        margin-bottom: 4vh;
    }

    .semCard{
        height: 40vh;
    }
    .heading1{
        font-size: 3rem;
    }
    .expand_more{
        height: 8vh;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){
    .semCard{
        height: 50vh;
    }
    .heading1{
        font-size: 3rem;
    }
    .title{
        font-size: 1.5rem;
    }
    
    #skipScroll{
        padding-bottom: 6vh;
    }
    .bookCard{
        width: 65vw;
        height: 25vh;
    }
    .books{
        margin-bottom: 6vh;
    }

}